# dependencies
**/node_modules

# misc
**/.DS_Store

# environment config
**/.env

# production
**/build
**/npm-debug.log*

# api SQLite3 DB
*.sqlite
.idea

# client Uploaded files
client/files/images/*
!client/files/images/.gitkeep
!client/files/images/unknown-person.jpg
